<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :training_programs %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: training_program do %>
  <tr data-id="<%= training_program.id %>">
    <%= render "shared/tables/checkbox", object: training_program %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, training_program] %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :pricing_model %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, training_program %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, training_program], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, training_program %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, training_program], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(training_program)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
