<% cancel_path ||= pricing_model.persisted? ? [:account, pricing_model] : [:account, @team, :pricing_models] %>

<%= form_with model: pricing_model, url: (pricing_model.persisted? ? [:account, pricing_model] : [:account, @team, :pricing_models]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :price_type %>
      <%= render 'shared/fields/number_field', method: :base_price %>
      <%= render 'shared/fields/number_field', method: :volume_discount %>
      <%= render 'shared/fields/trix_editor', method: :description %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
