<% cancel_path ||= location.persisted? ? [:account, location] : [:account, @team, :locations] %>

<%= form_with model: location, url: (location.persisted? ? [:account, location] : [:account, @team, :locations]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :address %>
      <%= render 'shared/fields/text_field', method: :location_type %>
      <%= render 'shared/fields/super_select', method: :parent_id, options: {}, html_options: {},
        choices: @location.valid_parents.map { |location| [location.label_string, location.id] } %>
      <%= render 'fields/geojson/field', form: form, method: :geometry, options: { hint: "Click on the map to add a point, or use the drawing tools to create a polygon." } %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
